@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --roxo: #C747F2;
    --blue: #39D1F8;
}

* {
    margin: 00;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
    background: #fff;
    margin: 0 auto;
    max-width: 800px;
}

a {
    text-decoration: none;
}


div a:hover {
    border: 1px solid var(--roxo);
    transition: .5s;
    opacity: 1
}

.modal-stop a:hover {
    border: 0
}

header, nav, ul {
    width: 100%;
    margin: 0
}

nav ul {
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 2rem;
    color: #000;
    text-transform: uppercase;
    position: relative
}

nav ul li a::before {
    content: "";
    height: 3px;
    width: 0px;
    background-color: var(--blue);
    position: absolute;
    bottom: 0;
    transition: .5s;
}

nav ul li a::after {
    content: "";
    height: 3px;
    width: 0px;
    background-color: var(--roxo);
    position: absolute;
    bottom: 0;
    transition: .5s;
    right: 0;
}

nav ul li:hover a::before {
    width: 50%;
    transform: translate(100%)
}
nav ul li:hover a::after {
    width: 50%;
    transform: translate(-100%)
}

.containerRelogio {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

}

h1 {
    letter-spacing: .5rem;
    font-weight: 400;
    text-align: center;
}
h2 {
    text-align: center;
    margin-top: 2rem;
}
h2, label {
    font-weight: 300;
}


.containerRelogio #time {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.containerRelogio #time div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    -webkit-box-reflect: below -17px linear-gradient(transparent, #0009);

}

.containerRelogio #time div p,
.containerRelogio #time div small {
    width: 200px;
    height: 160px;
    text-align: center;
    background-color: var(--roxo);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 100;
}
.containerRelogio #time div small {
    height: 30px;
    font-size: 1rem;
    background-color: rgba(199, 71, 242, .8);
}


.containerRelogio, #time {
    max-width: 100%;
}

.buttons {
    order: 99;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem
}

div button {
    width: 100%;
    margin-top: 8px;
    font-size: 1.4rem;
    padding: 5px;
    opacity: .6;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}
form div button {
    width: unset;
}
.start {
    border: 1px solid green;
    color: green;
}

.stop {
    border: 1px solid red;
    color: red;
}

div button:hover {
    opacity: 1;
    transition: .3s
}

div.wrapper-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, .8)
}

.modal {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative
}

.one.modal-content,
.two.modal-content,
.three.modal-content {
    background-color: #000;
    height: 5px;
    margin: 6px auto;
    transition-duration: 0.3s
}

.close-modal {
    width: 40px;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    right: 0%;
    top: 15px;
    cursor: pointer;
}

.close-modal .menu-toggle .one.modal-content {
    transform: rotate(45deg) translate(7px, 7px)
}

.close-modal .menu-toggle .two.modal-content {
    opacity: 0;
}

.close-modal .menu-toggle .three.modal-content {
    transform: rotate(-45deg) translate(8px, -10px);
}


.group-select {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 1.3rem;
    width: 100px;
}

select {
    width: 100px;
    font-size: 1.3rem;
    text-align-last: center;

    
}
option {
    text-align-last: center;
    text-align: center;

    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.modal-stop {
    opacity: 0;
    visibility: hidden;
    display: none
    
}

.modal-stop.on {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh

}

.modal-stop.on header nav ul {
    gap: 2rem
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}



@media(max-width: 900px) {
    body {
        max-width: 600px;
        flex-direction: row;
        gap: 1rem;
        max-width: 100%;
    }

    nav ul{
        background: rgba(199, 71, 242, .5);
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        height: 100vh
    }
    nav ul li a {
        font-size: 1.3rem
    }

    .containerRelogio #time {
        gap: 0
    }

    .containerRelogio #time div p,
    .containerRelogio #time div small {
        width: 120px;
        max-width:100%;
    }

    .modal-stop.on {
        height: unset
    }
}

@media(max-width: 600px) {

    body {
        margin: 0;
        overflow: auto;
        justify-content: center;

        flex-direction: column;
        gap: 3.3rem
        
    }

    .containerRelogio #time {
        flex-direction: column;
    }
    
    header nav {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    .containerRelogio #time div {
        -webkit-box-reflect: initial;
    }

    .containerRelogio #time div p,
    .containerRelogio #time div small {
        width: 200px;
        height: 80px;
    }

    .containerRelogio #time div small {
        height: 30px;
        padding: 15px
    }

    .seconds {
        order: 1
    }

    .minutes {
        order: 2
    }

    .hour {
        order: 3
    }

    .buttons {
        order: -999999999999;
        width: 200px;
        height: 160px;
    }

    
    .one,
    .two,
    .three {
        background-color: #000;
        height: 5px;
        margin: 6px auto;
        transition-duration: 0.3s
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
        position: fixed;
        right: 0%;
        top: 15px
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px)
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -10px);
    }

    header .menu-section.on + nav,
    header .menu-section.on + nav ul {
        opacity: 1;
        visibility: visible;
        display: unset;
    }
    header .menu-section.on + nav ul {
        height: 100vh;
        margin: 0;
    }

    header .menu-section.on + nav ul {
        margin: 0;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        gap: 1rem
    }
    
}